:root {
  --pink: rgb(255, 0, 247);
  --gray: rgb(11, 69, 94);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  color: var(--gray);
  font-family: monospace;
  background-color: rgb(230, 230, 230);
  background: repeating-linear-gradient(rgb(238, 238, 238), rgb(238, 238, 238) 2px, #e6e6e6 2px, #e6e6e6 4px);
  overflow-y: overlay;
}

.menu {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: rgb(230, 230, 230);
  background: repeating-linear-gradient(rgb(238, 238, 238), rgb(238, 238, 238) 2px, #e6e6e6 2px, #e6e6e6 4px);
}

h1 {
  font-size: 4rem;
  padding: 1rem;
  border: solid var(--pink) 2px;
  cursor: default;
}

a {
  all: unset
}

nav {
  display: flex;
  justify-content: space-around;
}

.caixa-sombra {
  background-color: rgb(255, 255, 255);
  box-shadow: 0.15em 0.15em var(--pink);
}

a .caixa-sombra:hover {
  box-shadow: 0.15em 0.15em var(--gray);
}

button {
  all: unset;
  border: none;
  cursor: pointer;
}

i {
  font-size: 3rem;
  cursor: pointer;
}

.home-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 90px;
}

.projetos-main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 85vw;
  margin: auto;
  margin-top: 8.2rem;
}

.botao-nav {
  padding: 1px 3px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.nome-titulo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65vh;
}

.nome-titulo-container h1 {
  letter-spacing: 0.2rem;
  text-align: center;
}

.projetos-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  margin-top: 1.5rem;
  height: 35vh;
}

.imagem-projeto:hover {
  cursor: pointer;
}

.projeto-ctr {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.imagem-projeto {
  padding: 10px;
  width: 100%;
}

.label-projeto {
  font-size: 1rem;
  text-align: center;
}

.gif-home {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.fundo_texto {
  background-color: rgb(255, 255, 255);
}

.container-foto-apresentacao {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 9rem;
  align-items: center;
  height: 60vh;
}

.apresentacao-links-container {
  max-width: 480px;
  padding: 1rem;
}

.links-container {
  margin-top: 25px;
}

#foto-perfil {
  padding: 1rem;
}

.caixa-de-msg {
  position: relative;
  display: flex;
}

.caixa-de-msg::after {
  visibility: hidden;
}

.caixa-de-msg:hover {
  visibility: visible;
}

.texto-caixa-de-msg {
  position: absolute;
  left: 50px;
  background-color: rgb(255, 255, 255);
  margin: 1rem 1rem 1rem 0.5rem
}

.link-site,
.email-botao {
  margin-right: 0.8rem;
}

.icone-projeto {
  font-size: 1rem;
}

.icone-pequeno {
  font-size: 0.8rem;
}

.legenda-icones-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1.2rem;
  margin-bottom: 2rem;
}

.legenda-icones {
  margin: 1rem 3rem 1rem 3rem;
}

.texto-apresentacao {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.texto-apresentacao a {
  color: var(--pink);
  text-decoration: underline;
  cursor: pointer;
}

::selection {
  background-color: rgb(159, 255, 237);
}



@media all and (max-width: 880px) {
  .nome-titulo-container {
    line-height: 0.8;
    max-width: 400px;
  }

  .nome-titulo-container h1 {
      font-size: 3.5rem;
  }
}

@media all and (max-width: 938px) {
  .projeto-ctr {
    width: 40%;
  }
}

@media all and (max-width: 768px) {
  .projeto-ctr {
    width: 80%;
  }

  .legenda-icones {
    margin-bottom: 0.3rem;
  }
}

@media all and (max-width: 450px) {
  .nome-titulo-container {
    line-height: 0.8;
    max-width: 200px;
  }

  .nome-titulo-container h1 {
      font-size: 2.5rem;
  }
}