* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgb(11, 69, 94);
    font-family: monospace;
    /* background: repeating-linear-gradient( rgb(238, 238, 238), rgb(238, 238, 238) 2px, #e6e6e6 2px, #e6e6e6  4px); */
    background-color: rgb(230, 230, 230);
}

h1 {
    font-size: 3rem;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
}

a {
    all: unset
}

nav {
    display: flex;
    justify-content: space-around;
}

button {
    all: unset;
    font-size: 1.5rem;
    box-shadow: 5px 5px rgb(255, 255, 255);
    font-weight: 700;
    border: none;
}

/*  */

h2 {
    font-size: 1.4em;
    text-decoration: underline magenta;
}

img {
    border: 6px solid rgb(152, 226, 255);
    border-radius: 3%;
    /* max-width: 100%; */
}

#container-foto-apresentacao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
}

#foto {
    margin-right: 26px;
}

#apresentacao {
    width: 400px;
    margin-left: 26px;
}

#foto p {
    font-size: 13px;
    margin-top: 2%;
    margin-left: 3%;
}

.fundo_texto {
    background-color: rgb(202, 240, 255);
}

.cabecalho {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

/* .quadrado {
    width: 1rem;
    height: 1rem;
    min-width: 1rem;
    background-color: magenta;
    margin-top: 50px;

} */